.oe-form{
    max-width:800px;
    margin:0 auto;
}

form .row-fluid{
    margin-bottom:10px;
}

form .required{
   color:red;
}

form .note{
    font-style:italic;
    font-size:12px;
    margin:0px 0px 10px;
}

fieldset{
    margin-bottom:20px;
}

[class^="icon-"], [class*="icon-"] {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 14px;
    vertical-align: text-top;
    background: url(images/creaditCards.png) 0px -9999em no-repeat;
    margin-top: 1px;
}

[class^="icons-cc-"], [class*="icon-cc-"] {
    width: 55px;
    height: 34px;
    cursor: pointer;
}

.icon-cc-visa-on {
    background-position: -200px -250px;
}

.icon-cc-mc-on{
    background-position: -200px -350px;
}

.icon-cc-discover-on {
    background-position: -200px -550px;
}

.icon-cc-amex-on{
    background-position: -200px -450px;
}

.icon-cc-amex-off {
    background-position: -200px -500px;
}

.icon-cc-discover-off {
    background-position: -200px -600px;
}

.icon-cc-mc-off {
    background-position: -200px -400px;
}

.icon-lock {
    width: 16px;
    height: 16px;
    background-position: -400px -500px;
}



.credit-cards label{
    margin-bottom:0;
}
/* Large desktop */
@media (min-width: 1200px) {
 body{

 }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    body{

    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body{
      background-color:#d0e9c6;
    }



}

/* Landscape phones and down */
@media (max-width: 480px) {
    body{
       background-color: #eed3d7;
    }




}
